
<div class="container">
  <h2><%= params[:question] %></h2>
  <p><em>- You</em></p>
</div>

<div class="container">
  <h2><%= @answers %></h2>
  <p><em>- Coach</em></p>
</div>


<%= link_to "Ask another question", ask_path %>


